.codeCity-markdown.border{
    padding: 9px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    width: 100%;
}
.codeCity-markdown h1,
.codeCity-markdown h2,
.codeCity-markdown h3,
.codeCity-markdown h4,
.codeCity-markdown h5,
.codeCity-markdown h6 {
    margin-top: 20px;
    margin-bottom: 6px;
}