:root {
    --black: #333;
    --primary-green: #4b6561;
    --secondary-green: #508b82;
    --light-green: #91b1b3;
    --background: #ecfeff;
    --mango: #fccb88;
    --alert: #fc5c81;
    --alert-dark: #f23a65;
    --function: #4fbfc0;
    --function-dark: #2a5f79;
    --gray: #dfe9e9;
    --dark-gray: #c4c4c4;
    --gray-lighter: #eff4f4;
    --light-gray: #f5f8f8;
}

body {
    background-color: white;
    color: var(--black);
}

body.fixed {
    overflow: hidden;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--black);
}

h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--black);
}

h2.mission_time.start {
    color: var(--secondary-green);
}

h2.mission_time.end {
    color: var(--alert);
}

h2.mission_time.not-start {
    color: var(--dark-gray);
}

.button-hollow {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--function);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--function);
    cursor: pointer;
}

.button-hollow:hover {
    border: 1px solid var(--secondary-green);
    color: var(--secondary-green);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.button-fill {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--function) !important;
    border: 1px solid var(--function);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    cursor: pointer;
    padding: 0 8px;
}

.button-fill:hover {
    background-color: var(--secondary-green) !important;
    border: 1px solid var(--secondary-green);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.button-pink {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--alert);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--alert);
    cursor: pointer;
}

.button-pink:hover {
    color: var(--alert-dark) !important;
    border: 1px solid var(--alert-dark);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

#content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin: auto;
    height: -webkit-fill-available;
}

/* 右側內容 */
.tab {
    width: calc(100vw);
    height: calc(100vh - 20px);
    border-radius: 8px;
}

.tab .tab-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.tab .tab-content .tab-content-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.tab .tab-content .tab-content-top .page-title {
    display: flex;
    align-items: center;
}

.tab .tab-content .tab-content-top .page-title::before {
    content: "";
    width: 8px;
    height: 24px;
    border-radius: 8px;
    background-color: var(--primary-green);
    margin-right: 8px;
}

.tab .tab-content .tab-content-top .upload-award-btn {
    width: fit-content;
    margin-left: 20px;
}

.tab .tab-content .award_submit {
    width: 100%;
    margin-bottom: 20px;
}

.tab .tab-content .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
    gap: 20px;
}

.tab .tab-content .gallery .gallery-item {
    padding: 16px;
    border: 1px solid var(--gray-lighter);
    border-radius: 8px;
}

.tab .tab-content .gallery .gallery-item:hover {
    border: 1px solid var(--gray);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tab .tab-content .gallery .gallery-item .image img {
    object-fit: contain;
    height: 216px;
    width: -webkit-fill-available;
}

.tab .tab-content .gallery .gallery-item .top {
    display: flex;
    margin-bottom: 16px;
}

.tab .tab-content .gallery .gallery-item .top .index {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    background-color: var(--function) !important;
    padding: 4px 12px;
    color: #fff;
    width: fit-content;
    border-radius: 50%;
    text-align: center;
}

.tab .tab-content .gallery .gallery-item .name {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: var(--function) !important;
    padding: 4px 12px;
    width: fit-content;
    border-radius: 8px;
    text-align: center;
}

.tab .tab-content .gallery .gallery-item .edit-awardName {
    width: 24px;
    margin: 0 8px;
}

.pop .img {
    height: 300px;
    margin-bottom: 16px;
}

.pop img {
    object-fit: contain;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.form__input.award_name {
    margin-bottom: 8px;
}
