body {
    background-color: var(--background);
}

#myVideo {
    position: absolute;
    z-index: -1;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.button-hollow {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--function);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--function);
    cursor: pointer;
}

.button-hollow:hover {
    border: 1px solid var(--secondary-green);
    color: var(--secondary-green);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.button-fill {
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-color: var(--function) !important;
    border: 1px solid var(--function);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.button-fill:hover {
    background-color: var(--secondary-green) !important;
    border: 1px solid var(--secondary-green);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

.button-pink {
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid var(--alert);
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--alert);
    cursor: pointer;
}

.button-pink:hover {
    color: var(--alert-dark) !important;
    border: 1px solid var(--alert-dark);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08);
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    max-width: 1280px;
    padding: 60px;
    margin: auto;
    height: -webkit-fill-available;
}

#content .left {
    width: 500px;
    height: fit-content;
}

#content .left .title {
    font-weight: 900;
    font-size: 80px;
    margin-bottom: 20px;
    text-align: center;
    color: var(--primary-green);
}

#content .left .tab {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.08);
}

#content .left .tab .logo {
    width: 100%;
    margin-bottom: 30px;
}

#content .left .tab .logo img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

#content .left .tab .form {
    width: 100%;
}

#content .left .tab .form__input {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#content .left .tab .form__input img {
    width: 35px;
    height: 35px;
    margin-right: 12px;
}

#content .left .tab .form__input .input {
    padding: 9px 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    width: 100%;
}

#content .left .tab .form__input .input:focus {
    border-color: var(--function);
}

.pancel-box {
    display: block;
    font-size: 12px;
}

.pancel-box i {
    font-size: 14px;
    color: var(--function);
}

.pancel-box input {
    width: 100%;
    border: 1px solid #f2f2f2;
    font-family: "Noto Sans TC", sans-serif;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0 0 1em 0.5em;
    padding: 8px 12px;
    background-color: #ebf2f2;
}

.box-one {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 2s 0s;
    -o-transition: opacity 2s 0s;
    transition: opacity 2s 0s;
}

.buttons {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    gap: 16px;
    width: 100%;
}

#content .banner {
    display: flex;
    justify-content: center;
    width: 60vw;
    position: absolute;
    right: -60px;
    z-index: -1;
    bottom: 50%;
    transform: translateY(60%);
    display: none;
}

#content .banner img {
    width: 100%;
    object-fit: cover;
}
