<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="../../../library/jquery.min.js"></script>
    <script src="../../../common/common.js"></script>
    <link rel="stylesheet" href="../../../common/common.css">
    <link rel="stylesheet" type="text/css" href="../../../library/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="./index.css">
    <link rel="shortcut icon" type="image/png" href="" />
    <title>codeCity</title>
</head>

<body>
    <div class="drop__container-multi">
        <input class="select-selected" readonly type="text" placeholder="請選擇" />
        <img src="../img/icon/drop-right.svg" alt="icon" class="icon">
        <img src="../img/icon/clear.svg" alt="icon" class="drop__clear">
        <div class="line"></div>
        <div class="select-items">
            <div class="option">
                <label for="c1"><span class="text">選項一</span><span class="check"></span><input type="checkbox" id="c1"
                        name="cb" /></label>
            </div>
            <div class="option">
                <label for="c2"><span class="text">選項二</span><span class="check"></span><input type="checkbox" id="c2"
                        name="cb" /></label>
            </div>
            <div class="option">
                <label for="c3"><span class="text">選項三</span><span class="check"></span><input type="checkbox" id="c3"
                        name="cb" /></label>
            </div>
            <div class="option">
                <label for="c4"><span class="text">選項四</span><span class="check"></span><input type="checkbox" id="c4"
                        name="cb" /></label>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="./index.js"></script>
</body>

</html>