:root {
    --black: #333;
    --primary-green: #4b6561;
    --secondary-green: #508b82;
    --light-green: #91b1b3;
    --background: #ecfeff;
    --mango: #fccb88;
    --alert: #fc5c81;
    --alert-dark: #f23a65;
    --function: #4fbfc0;
    --function-dark: #2a5f79;
    --gray: #dfe9e9;
    --dark-gray: #c4c4c4;
    --gray-lighter: #eff4f4;
    --light-gray: #f5f8f8;
}

.messege {
    width: 100%;
    height: fit-content;
    display: flex;
    gap: 20px;
}

.messege .user {
    width: 60px;
    height: 60px;
    object-fit: contain;
    background-color: #d4e2e2;
    border-radius: 50%;
}

.messege .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    padding: 4px;
}

.messege .messege-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
    padding:10px;
    background-color: var(--light-gray);
    border-radius: 8px;
}

.messege .messege-content .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.messege .messege-content .top .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.messege .messege-content .top .left .name {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-green);
}

.messege .messege-content .top .left .bar {
    width: 2px;
    height: 18px;
    background-color: var(--gray);
    margin: 0 10px;
}

.messege .messege-content .top .left .messege-time {
    font-size: 14px;
    font-weight: 500;
    color: var(--secondary-green);
}

.messege .messege-content .top .function {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px;
}

.messege .messege-content .top .function .icon {
    width: 30px;
    border: 1px solid var(--light-green);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.messege .messege-content .top .function .icon.deleteMsg {
    border: 1px solid var(--alert);
}

.messege .messege-content .bottom{
    display: flex;
    gap: 10px;
}

.messege .messege-content .bottom .messege-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: var(--light-gray);
}

.messege .messege-content .bottom .messege-img img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.messege .messege-content .bottom .messege-text{
    white-space: initial;
}