<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="src/library/jquery.min.js"></script>
    <script src="src/common/common.js"></script>
    <link rel="stylesheet" href="src/common/common.css">
    <link rel="stylesheet" href="./index.css">
    <link rel="shortcut icon" type="image/png" href=""/>
    <title>CodeCity</title>
</head>
<body>
    <div class="drop__container">
        <input class="select-selected" type="text" placeholder="請選擇"/>
        <img src="../../images/drop-right.svg" alt="icon" class="icon">
        <img src="../../images/clear.svg" alt="icon" class="drop__clear">
        <div class="line"></div>
        <div class="select-items">
            <div class="option" value="1">第一個</div>
            <div class="option" value="2">第二個</div>
            <div class="option" value="3">第三個</div>
            <div class="option" value="4">第四個</div>
        </div>
    </div>
    <script type="text/javascript" src="./index.js"></script>
</body>
</html>